@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  -webkit-scroll-behavior: smooth !important;
  -moz-scroll-behavior: smooth !important;
  -ms-scroll-behavior: smooth !important;
}

.shadow-navbar {
  box-shadow: rgba(34, 39, 43, 0.06) 0px 36px 64px;
}
.shadow-button {
  box-shadow: rgba(113, 135, 162, 0.14) 0px 24px 32px;
}
.slanted-cut {
  clip-path: circle(40%);
}

@media screen and (min-width: 768px) {
  .slanted-cut {
    clip-path: polygon(50% 0, 100% 40%, 50% 100%, 0 40%);
  }
  .arrow {
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
    animation-iteration-count: infinite;
  }
}

@media screen and (min-width: 1280px) {
  .fix-large-screen {
    right: calc(50% - 458px);
  }
}
